body{
	background:#D0DED4;
}
.fila{
	height:;
}
.columna{

border:solid;
}
.columna1{
  border: solid black;
  background:#F2A391;
  height:110px;
}
.columna2{
  border: solid black;
  background:#BFA29B;
  height:110px;
}
.columna3{
  border:solid black;
  background:#F2E0DF;
  height:100px;
}
.columna4{
  border: solid black;
  background:#F20C0C;
  height:100px;
}
.columna5{
  border: solid black;
  background:#014029;
  height:200px;
}
.columna6{
  border: solid black;
  background:#FFDE6B;
  height:200px;
}

.columna7{
  border: solid black;
  background:#BD716D;
  height:328px;
}
.columna8{
  border: solid black;
  background:#72F2EB;
  height:350px;
}
.columna9{
  border: solid black;
  background:#FF490E;
  height:94px;
}



